import(RCurl)
import(httr)
import(rjson)
import(ROAuth)
import(tcltk)
import(tkrplot)
import(ggplot2)
import(ff)
import(streamR)
import(twitteR)
import(sp)
import(geosphere)
import(maps)


export(cleanLocation)
export(cleanString)
export(removeStopWords)
export(trim)
export(matchPostalCode)
export(queryLocation)
export(queryGeoNames)
export(updateStopwords)
export(loadStopWords)
export(cleanLocationFromFile)
export(createDynamicTimePlot)
export(latLong2RegionNum)
export(mergeTimesRegionId)
export(readTweetsToFile)
export(getFollowerIDs)
export(getUsersFromIDs)
export(stdRequest)
export(oauthRequest)
export(filterByRegion)
export(getAreaByRegion)
export(aggregateByRegion)
export(aggregateByCountry)
export(aggregateByState)
export(aggregateByCounty)
export(plotUsersInRegion)
export(plotUsersInCountry)
export(plotUsersInState)
export(fillRegionsByUsers)
export(compareOverRegions)
